.sm-slider {
}
.sm-slider__inputs {
    display: flex;
    background: #fafafa;
    padding: 20px;
}
.sm-slider__input-wrapper {
    flex-basis: 50%;
}
.sm-slider__input-wrapper:first-child {
    margin-right: 10px;
}
.sm-slider__input {
    width: 100%;
    border: 2px solid #666466;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
}
.sm-slider__thumbs {
    margin-top: 30px;
    position: relative;
    height: 22px;
}
.sm-slider__track-background {
    background: #999999;
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
}
.sm-slider__track-background:first-child {
    left: 0;
}
.sm-slider__track-fill {
    background: #429cb5;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
}
.sm-slider__thumb {
    position: absolute;
    background: #f0f0f0;
    border: 1px solid #9d9d9d;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-left: -10px;
    user-select: none;
}
.sm-slider__reset {
    margin-top: 10px;
}